<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산 여행 - BUSAN TRAVEL</title>
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/common/chapter.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/sub_tr_3.css}">
</head>
<body class="ch01">
<header th:replace="~{layout/header :: header}"></header>

<section class="sub_visual">
    <h2>ガイドブック ＆ 地図</h2>
    <p>釜山旅行に必要なガイドブック・地図資料をダウンロードできます。</p>
</section>

<div class="content_wrap">
    <div class="main_container">
        <aside class="lnb">
            <h2 class="lnb_tit">ガイドブック ＆ 地図</h2>
            <ul>
                <li><a th:href="@{/sub_travel_3}">한국어</a></li>
                <li><a th:href="@{/sub_travel_3_2}">영어</a></li>
                <li class="on"><a th:href="@{/sub_travel_3_3}">일본어</a></li>
                <li><a th:href="@{/sub_travel_3_4}">중국어</a></li>
            </ul>
        </aside>

        <section class="guide_basic" id="top">
            <div class="guide_title">
                <img th:src="@{/images/travel_main_3.png}" alt="가이드북 & 지도">
            </div>

            <div class="guide_grid">
                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_21.jpg}" alt="釜山観光地図">
                    </div>
                    <h3 class="guide_name">釜山観光地図</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_13.pdf}" download>ダウンロード</a>
                </article>

                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_22.jpg}" alt="テーマで楽しむ プ산旅行">
                    </div>
                    <h3 class="guide_name">テーマで楽しむ プサン旅行</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_14.pdf}" download>ダウンロード</a>
                </article>

                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_23.jpg}" alt="都市鉄道で旅する釜山">
                    </div>
                    <h3 class="guide_name">都市鉄道で 旅하는 釜山旅行</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_15.pdf}" download>ダウンロード</a>
                </article>

                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_24.jpg}" alt="釜山旅行ベスト15">
                    </div>
                    <h3 class="guide_name">必ず行くべき 釜山旅行ベスト15</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_16.pdf}" download>ダウンロード</a>
                </article>

                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_25.jpg}" alt="釜山の おいしい店 100">
                    </div>
                    <h3 class="guide_name">釜山の おいしい店 100</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_17.pdf}" download>ダウンロード</a>
                </article>

                <article class="guide_card">
                    <div class="thumb">
                        <img th:src="@{/images/thumb_26.jpg}" alt="2025釜山の味">
                    </div>
                    <h3 class="guide_name">2025釜山の味</h3>
                    <a class="down_btn" th:href="@{/download/busan_map_18.pdf}" download>ダウンロード</a>
                </article>
            </div>
        </section> </div> </div> <footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>