<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" id="hd">
    <div class="hd_container">
        <a th:href="@{/}" class="logo">
            <img th:src="@{/images/busanlogo.png}" alt="부산광역시 로고">
        </a>

        <nav class="gnb">
            <ul class="menu">
                <li>
                    <a th:href="@{/sub_area_1}">부산 지역</a>
                    <ul class="sub">
                        <li><a th:href="@{/sub_area_1}">행정구역</a></li>
                        <li><a th:href="@{/sub_area_2}">부산 상징</a></li>
                        <li><a th:href="@{/sub_area_3}">미래 비전</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/sub_travel_1}">부산 여행</a>
                    <ul class="sub">
                        <li><a th:href="@{/sub_travel_1}">추천 여행</a></li>
                        <li><a th:href="@{/sub_travel_2}">해양 &amp; 테마 추천</a></li>
                        <li><a th:href="@{/sub_travel_3}">가이드북 &amp; 지도</a></li>
                        <li><a th:href="@{/sub_travel_4}">여행 공유</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/sub_history_1}">부산 역사</a>
                    <ul class="sub">
                        <li><a th:href="@{/sub_history_1}">선사시대</a></li>
                        <li><a th:href="@{/sub_history_2}">조선시대</a></li>
                        <li><a th:href="@{/sub_history_3}">개항/근대</a></li>
                        <li><a th:href="@{/sub_history_4}">현대/글로벌</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/sub_news_1}">부산 소식</a>
                    <ul class="sub">
                        <li><a th:href="@{/sub_news_1}">부산 주요 현안</a></li>
                        <li><a th:href="@{/sub_news_2}">오늘의 부산</a></li>
                        <li><a th:href="@{/sub_news_3}">부산 문화·라이프</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/community/free}">커뮤니티</a>
                    <ul class="sub">
                        <li><a th:href="@{/community/free}">자유게시판</a></li>
                        <li><a th:href="@{/community/qna}">Q&amp;A</a></li>
                        <li><a th:href="@{/community/report}">관광불편신고</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="tnb">
            <th:block th:if="${session.loginMember == null}">
                <a th:href="@{/login}">로그인</a>
                <a th:href="@{/signup}">회원가입</a>
            </th:block>
            <th:block th:if="${session.loginMember != null}">
                <span th:text="${'반갑습니다 ' + session.loginMember.name + ' 회원님'}"></span>
                <a th:href="@{/admin}" th:if="${session.loginMember.role.name() == 'ADMIN'}">관리자</a>
                <a th:href="@{/logout}">로그아웃</a>
            </th:block>
        </div>
    </div>
</header>
</body>
</html>
