<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산의 역사 - BUSAN HISTORY</title>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/layout.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
</head>
<body>
<header th:replace="~{layout/header :: header}"></header>

<div class="content_wrap">
    <div class="main_container">
        <section class="section1">
            <div class="sticky_wrapper">
                <div class="img_box">
                    <img th:src="@{/images/bridge_night.png}" alt="광안대교">
                </div>
                <div class="text_box">
                    <div class="text_card">
                        <h1 class="bg_text">Hello, Busan<span>Hello, Busan</span></h1>
                        <h2 class="bg_title_text">광 안 대 교</h2>
                        <p>부산광역시 수영구와 해운대를 잇는<br>국내 최대 해상 복층 교량으로, <br>
                            광안리 앞바다의 야경을 책임지는 부산의 대표적인 랜드마크</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section2">
            <div class="sticky_wrapper">
                <div class="text_box">
                    <div class="text_card">
                        <h1 class="bg_text">Hello, Busan<span>Hello, Busan</span></h1>
                        <h2 class="bg_title_text">연산동 고분군</h2>
                        <p>5세기 후반 ~ 6세기 전반<br>
                            부산 연제구 배산 일대 조성된 삼국시대 고분군으로,<br>
                            부산지역을 다스린 최고 지배층의 무덤(사적 제539호)이며,<br>
                            대형 봉분과 구덩식덧널무덤 구조에서 고대 토목 기술과 신라 복속 과정을 보여주는 중요한 유적</p>
                    </div>
                </div>
                <div class="img_box">
                    <img th:src="@{/images/tombs.png}" alt="연산동 고분군">
                </div>
            </div>
        </section>

        <section class="section3">
            <div class="sticky_wrapper">
                <div class="img_box">
                    <img th:src="@{/images/market.png}" alt="국제시장">
                </div>
                <div class="text_box">
                    <div class="text_card">
                        <h1 class="bg_text">Hello, Busan<span>Hello, Busan</span></h1>
                        <h2 class="bg_title_text">국 제 시 장</h2>
                        <p>1945년 해방 이후 <br>
                            피난민들의 삶의 터전으로 시작되어, 70여 년의 역사를 품고 다양한 수입품, 의류, 먹거리(비빔당면, 꽃분이네)가 가득한 부산을 대표하는 전통시장이자 관광 명소</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="video_sec">
            <div class="video_container">
                <div class="video_player">
                    <iframe width="100%" height="100%"
                            src="https://www.youtube.com/embed/F9nuCjA-cxU"
                            title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </section>

        <div class="bottom_menu">
            <h3>자주찾는메뉴</h3>
            <ul class="menu_list">
                <li>
                    <a href="https://www.busan.go.kr/bhaddis04" target="_blank">
                        <img th:src="@{/icon/administration.png}" alt="행정">
                    </a>
                    <span>행정</span>
                </li>
                <li>
                    <a href="https://www.busan.go.kr/news/snsbusan05" target="_blank">
                        <img th:src="@{/icon/culture.png}" alt="문화체육관광">
                    </a>
                    <span>문화체육관광</span>
                </li>
                <li>
                    <a href="https://www.busan.go.kr/news/totalnews01/view?dataNo=65750&gugun=Next" target="_blank">
                        <img th:src="@{/icon/gongwon.png}" alt="공원녹지·환경">
                    </a>
                    <span>공원녹지·환경</span>
                </li>
                <li>
                    <a href="https://www.bsswcc.or.kr/about/sub1.php" target="_blank">
                        <img th:src="@{/icon/social.png}" alt="사회복지">
                    </a>
                    <span>사회복지</span>
                </li>
                <li>
                    <a href="https://safecity.busan.go.kr/#/" target="_blank">
                        <img th:src="@{/icon/safety.png}" alt="안전">
                    </a>
                    <span>안전</span>
                </li>
            </ul>
        </div>
    </div> </div> <footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>